<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Doctors Advice LLC</title>
    <!--
        <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-3.0.1.js"></script>
-->
    <!--        <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <!--
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="/stylesheets/js/bootstrap.min.js"></script>
-->


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>


<body>
    <div class="container">
        <!--        <section class="hero">-->
        <!--    <div class="jumbotron" style="margin-bottom: 0px;"></div>-->
        <!--        navbar-toggleable  navbar-expand-md-->
        <div>
            <nav class="navbar  navbar-expand-md navbar-light fixed-top">
                <a class="navbar-brand" href="/">Doctors Advice LLC</a>
                <span class="navbar-text" href="/">Doctors Advice LLC</span>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
                    <span class=navbar-toggler-icon></span>
                </button>
                <div class="collapse navbar-collapse" id="collapse_target">

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/employees/new">Careers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/training">Training</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signup">
                                <span class="glyphicon glyphicon-user"></span>
                                Sign Up!
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">
                                <span class="glyphicon glyphicon-log-in"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">
                                <span class="glyphicon glyphicon-log-out"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- <div  background=url(/img/nurse4.jpeg);></div> -->