<% include ../partials/header %>
<div class="container">  
<div class="heading-space">
</div>
<div class="grid">
      <div>FirstName:</div><div><input type="text" placeholder="First Name" size = 24></div><div> Lastname:</div><div><input type="text" placeholder="Last name" size= 24></div><div>DOB:</div><div><input type="date" placeholder="MM/DD/YYYY" size = 10></div>
      <div>Home Address:</div><div><input type= text> </div><div>SS#:</div><div><input type= text size=11></div>
      <div>Driver’s License (State/ Number):</div><div><input type= "text"> </div><div>Professional License:</div><div><input type="text"></div>
      <div>Job Position Applied For: </div><div><input type= text size=10> </div><div>Salary desired:</div><div><input type= text size=7> </div>
      <div>Availability:</div>
      <div>Days:</div> <span class="ft14"> MON<input type="checkbox"> TUES<input type="checkbox">  WED<input type="checkbox">    THURS<input type="checkbox">    FRI<input type="checkbox">    SAT<input type="checkbox">    SUN<input type="checkbox"></span></div>  <div class="ft12">Shifts: <span class="ft14">  7AM- 3:30PM <input type="checkbox">  3:00PM-11:30PM<input type="checkbox">   11:00PM-7:30AM<input type="checkbox"></span></div>
      <div>When would you be available to begin work?</div><div><input type= text size 40></div>
      <div>Emergency Contact Name:</div><div><input type= text size=44></div><div><input type= tel></div>
</div>
</div>
<% include ../partials/footer %>