<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Doctors Advice LLC</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body> 
<!--<div>    -->
<header>   
<h3>Doctors Advice, LLC</h3>
 Healthcare Staffing Agency
 EMPLOYMENT APPLICATION
1 Courthouse Lane Unit 13-15 Chelmsford, MA 01824 978-806-0560 Fax: 978-806-0568
</header>     
<!--//</div>-->
<section>       
<p>It is the policy of Doctors Advice, LLC to provide equal employment opportunities to all applicants and employees without regard to any legally protected status such as race, color, religion, gender, national origin, age, disability or veteran status.</p>
<form action ="" method=post>    
<p>Name: <input type="text"> DOB:<input type="date"> </p>Home Address:<input type="text">SS#:<input type="text"> Driver’s License (State/ Number):<input type="text">_Professional License:<input type="text"> Job Position Applied For: <input type="text"> Salary desired:<input type="text"> Availability: MON TUES WED THURS FRI SAT SUN Shifts: 7AM- 3:30PM 3:00PM-11:30PM 11:00PM-7:30AM When <input type="text">Emergency Contact Name: <input type="text"> Phone:<input type="text"> Relationship:<input type="text"> Applicant Employment History
List your current or most recent employment first. If additional space is needed, continue on the back page of this application.
Employer Name:<input type="text">Supervisor Name:<input type="text"> Location:<input type="text">Title:<input type="text"> Reason for Leaving: <input type="text">Dates of Employment:<input type="text">
Employer Name:_<input type="text">Supervisor Name:_<input type="text"> Location:_<input type="text">Title:<input type="text"> Reason for Leaving: <input type="text">Dates of Employment:_<input type="text">
Applicant's Education and Training ( Please attach yo<input type="file">
Please indicate any current professional licenses <input type="text"> 
Page 1 of 3

 References
List any two professional references who would be willing to provide a reference for you.
Name: <input type="text"> Title:<input type="text">Relationship:<input type="text"> Telephone:__Facility Name and location:<input type="text">
Name: <input type="text">Title:<input type="text">Relationship:<input type="text">
Telephone:<input type="tel">Facility Name and location:<input type="text">
Please provide any other information that you believe should be considered, including whether you are bound by any agreement with any current employer:<input type="text">
CERTIFICATION
<input type="text">I certify that the information provided on this application is truthful and accurate. I understand that providing false or misleading information will be the basis for rejection of my application, or if employment commences, immediate termination.
<input type="text">I authorize Doctors Advice, LLC to contact former employers and educational organizations regarding my employment and education. I authorize my former employers and educational organizations to fully and freely communicate information regarding my previous employment, attendance, and grades. I authorize those persons designated as references to fully and freely communicate information regarding my previous employment and education.

______I authorize Doctors Advice, LLC to use my personal information to run a background check through ICORI.
______I authorize Doctors Advice, LLC to release my information acquired during my hiring and placement to any client facilities for the purpose of securing employment opportunities. Information to be shared might include but is not limited to my employment application/ resume, results of : background check, drug screening, completed references, skills checklist, competency assessment test and medical information that the facility may require. If I am a Doctors Advice, LLC travel staff traveler, this information can also be shared with any Doctors Advice,LLC office located in the area where I may be assigned by Doctors Advice, LLC.
______If an employment relationship is created, I understand that unless I am offered a specific written contract of employment signed on behalf of the organization by its Human Resources Manager, the employment relationship will be "at-will." In other words, the relationship will be entirely voluntary in nature, and either I or my employer will be able to terminate the employment relationship at any time and without cause. With appropriate notice, I will have the full and complete discretion to end the employment relationship when I choose and for reasons of my choice. Similarly, my employer will have the right. Moreover, no agent, representative, or employee of Doctors Advice, LLC, except in a specific written contract of employment signed on behalf of the organization by its Human Resources Manager, has the power to alter or vary the voluntary nature of the employment relationship.
I HAVE CAREFULLY READ THE ABOVE CERTIFICATION AND I UNDERSTAND AND AGREE TO ITS TERMS.
 
APPLICANT’S NAME:<input type="text">
____________________________________ _______________ APPLICANT SIGNATURE DATE
</section>     
</form>
    Page 2 of 3
    
    </body>  body> 
</html