<% include partials/header %>

   
  <div class="dheader">
	        <h1>Doctors Advice LLC</h1>
  </div>
  <div class="dmain">

      <h3>Nursing Service when you need it</h3>
      <div>
      <br>
      <a href="#" class="btn">Contact Us Now</a>
      </div>
      <br>
      <div>
      <a href="#" class="btn">Apply</a>
      </div>
  </div>

  
<% include partials/footer %>