<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Doctors Advice LLC</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
  <!-- Forked from a template on Tutorialzine: https://tutorialzine.com/2016/06/freebie-landing-page-template-with-flexbox -->
  <header>
    <h2><a href="#">Doctors Advice LLC</a></h2>
    <nav>

    </nav>
  </header>

  <section class="hero">
    <div class="background-image" style="background-image: url(assets/img/main.jpg);"></div>
    <div class="hero-content-area">
      <h1>Doctors Advice LLC</h1>
      <h3>Service when you need it</h3>
      <li><a href="#">Nurses</a></li>
      <li><a href="#">CNAs</a></li>
      <li><a href="#">Home health aides</a></li>
      <li><a href="#">Home makers</a></li>
      <li><a href="#">Cleaners</a></li>
    </div>
  </section>
  
</body>
</html>