<% include partials/header %>



    <div class="dheader">
      <h1>Sign Up</h1>
    </div>
    <div class="dmain">
    <form action="/signup" method="POST" onsubmit="retrun false">
      <div class="form-group row">
        <label for="inputFirstName" class="col-sm-4  col-form-label">First Name:</label>
        <div class="col-sm-6 ">
          <input class="form-control" id="inputFirstName" type="text" name="firstName" placeholder="First Name">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputLastName" class="col-sm-4 col-form-label">Last Name:</label>
        <div class="col-sm-6">
          <input class="form-control" id="inputLastName" type="text" name="lastName" placeholder="Last Name">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputusername" class="col-sm-4 col-form-label">Username:</label>
        <div class="col-sm-6">
          <input class="form-control" id="inputusername" type="text" name="username" placeholder="Username">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmailAddress" class="col-sm-4 col-form-label">Email Address:</label>
        <div class="col-sm-6">
          <input class="form-control" type="text" name="email" placeholder="Email Address">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-4 col-form-label">Password:</label>
        <div class="col-sm-6">
          <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputRetypePassword" class="col-sm-4 col-form-label">Retype
          Password:</label>
        <div class="col-sm-6">
          <input class="form-control" type="password"name="retypePassword" placeholder="Retype password">
        </div>

      </div>
      <div class="form-group row">
        <div class="col-sm-4"></div>
        <div class="col-sm-6">
          <button class="btn btn-lg btn-primary btn-block" name="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>





<% include partials/footer %>