
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Doctors advice ll</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/stylesheets/styles.css">        


<body>
<div class="container">
    <nav class="navbar  navbar-expand-md navbar-light bg-light">
        
        <!--        <div class="container">-->
        <a class="navbar-brand" href="/">East Farmers Co-operative Society</a>
        <span class="navbar-text" href="/">East Farmers Co-operative Society logo</span>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
            <span class=navbar-toggler-icon></span>
        </button>



        <div class="collapse navbar-collapse" id="collapse_target">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/training">Training</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">
                        <span class="glyphicon glyphicon-user"></span>
                        Sign Up!
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">
                        <span class="glyphicon glyphicon-log-in"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <span class="glyphicon glyphicon-log-out"></span>
                    </a>
                </li>
            </ul>

            <!--        </div>-->
        </div>
        <!--        </div>-->
    </nav>
</div>   
<div class="container">
<div class="main-box">
  <div class="row content">
  </div>
  <form action="/login" method="POST">
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="staticEmail" placeholder="email@example.com">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-4"></div>
      <div class="col-sm-6">
        <button class="btn btn-lg btn-primary btn-block">Login</button>
      </div>

    </div>
  </form>
  <div class="row content">
  </div>
</div>
</div>
    <!-- </div>  -->
   </body>
</html>



